
/* Container für alle Buttons */
.buttons-container {
  position: fixed;
  top: 10px;
  right: 25px;
  z-index: 100;
  display: flex;
  gap: 10px;
  margin: 0;
}

/* Anzeige Buttons */
.callme-button {
  cursor: not-allowed;
  background: rgb(255, 142, 174);
  transition: 0.0s ease;
  color: #fff;
  line-height: 30px;
  border-radius: 8px;
  padding: 0 10px;
  border: none;
  font-size: 14px;
}

/* Hover / Fokus für besseres Feedback */
.callme-button:hover {
  background: rgb(255, 78, 128);
  transition: 0.0s ease;
  color: #fff;
}

.callme-button:active {
  transform: translateY(0);
}





.about-button {
  z-index: 100;
  cursor: not-allowed;
  background: rgb(255, 210, 199);
  transition: 0.0s ease;
  color: #fff;
  line-height: 30px;
  border-radius: 8px;
  padding: 0 10px; 
}

/* Hover / Fokus für besseres Feedback */
.about-button:hover {
  background: rgb(255, 167, 192);
  transition: 0.0s ease;
  color: #fff;
}

.about-button:active {
  transform: translateY(0);
}


.impressum-button {
  z-index: 100;
  cursor: not-allowed;
  background: rgb(107, 107, 255);
  transition: 0.0s ease;
  color: #fff;
  line-height: 30px;
  border-radius: 8px;
  padding: 0 10px; 
}

/* Hover / Fokus für besseres Feedback */
.impressum-button:hover {
  background: rgb(154, 154, 255);
  transition: 0.0s ease;
  color: #fff;
}

.impressum-button:active {
  transform: translateY(0);
}


.arbeiten-button {
  cursor: not-allowed;
  background: rgb(0, 0, 0);
  transition: 0.0s ease;
  color: #fff;
  line-height: 30px;
  border-radius: 8px;
  padding: 0 10px;
  border: none;
  font-size: 14px;
}

/* Hover / Fokus für besseres Feedback */
.arbeiten-button:hover {
  background: rgb(64, 64, 64);
  transition: 0.0s ease;
  color: #fff;
}

.arbeiten-button:active {
  transform: translateY(0);
}



/* Container für Reihen (CallMe Seite) */
.container-callme {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

/* Reihen als Links */
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  cursor: pointer;
}

.row-content {
  text-align: center;
}

.row-content h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

/* Verschiedenfarbige Reihen */
.phone-row {
  background: linear-gradient(0deg, #00f 0%, #fff 100%);
}

.phone-row:hover {
  background: linear-gradient(0deg, #fff 0%, #00f 100%);
}

.mail-row {
  background: linear-gradient(0deg, #00f 0%, #fff 100%);
}

.mail-row:hover {
  background: linear-gradient(0deg, #fff 0%, #00f 100%);
}

.website-row {
  background: linear-gradient(0deg, #00f 0%, #fff 100%);
}

.website-row:hover {
  background: linear-gradient(0deg, #fff 0%, #00f 100%);
}

.impressum-row,
impressum-row:hover {
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, #00f 100%);
  cursor: default;
}

