/* Layout grundlegend */

body {
  margin: 0;
  height: 100vh;
  font-family: Hedvig Letters Sans;
  color: #000000;
}

.container {
  display: grid;
  grid-template-columns: 2fr 4fr;
  height: 100vh;
}









/* Schrift */

h1 {
  margin: 0;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff !important;
}

h2 {
  margin: 0;
  font-size: 25px;
  font-weight: 500;
  color: #000000 !important;
}

h3 {
  margin: 0;
  font-size: 25px;
  font-weight: 500;
}

p {
  margin: 0;
  font-family: Hedvig Letters Sans;
  font-size: 17px;
  line-height: 23.5px;
}









/* Columns */

.column-content {
  padding: 25px;
  position: relative;
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
}


.column-header,
.detail-header {
  background-color: #00f;
  padding-left: 30px !important;
  padding: 10px;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 2;
}


#col1 {
  display: flex;
  flex-direction: column;
  height: 100% !important;
}


#col2 .column-content {
  padding: 0px !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 400px;
  box-sizing: border-box;
}

.grid-item {
  position: relative;
  overflow: hidden;
  
}

.grid-item .dynamic-image {
  opacity: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  margin: 0;
  z-index: 1;
  transition: opacity 0s ease;
}

.grid-item .hover-image {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: crosshair;
}

.grid-item:hover .dynamic-image:not(.hover-image) {
  opacity: 0;
}

.grid-item:hover .hover-image {
  opacity: 1;
}









/* Timeline */

.timeline {
  list-style: none;
  padding: 0;
}

.timeline-item {
  display: flex;
  text-align: left;
  background: transparent;
  cursor: crosshair;
  font-family: inherit;
  font-weight: 500;
  font-size: 25px;
  line-height: 42px;
  color: inherit;
  transition: 0.4s ease;
  border: none;
}

.timeline-item:hover {
  background: rgb(206, 206, 206);
  transition: 0.0s ease;
  color: #fff;
  line-height: 38px;
  border-radius: 8px;
}

.timeline-item:hover::after {
  content: attr(data-year);
  margin-left: 10px;
  color: #000000;
  white-space: nowrap;
}

.timeline-item.active {
  background: #a0a0a0;
  color: #fff;
  line-height: 34px;
  border-radius: 8px;
  transition: 0.4s ease;
}

.index-detail {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 10px;
  position: relative;
}









/* ??? */

/* Abstand zwischen Paragraphen */
.gap {
    height: 1em;
}

/* Textfeld in Index Detailansicht nicht volle Breite Zeile */
.index-detail p,
.index-detail h2 {
  max-width: 58ch;
}

figcaption {
  max-width: 80ch;
}


/* Underline Klasse (Warum?) */
.underlined {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: inherit;
}


/* Scrollbar Browser ausblenden */
.column {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  
/* Firefox */
scrollbar-width: none; 
/* Internet Explorer und Edge */
-ms-overflow-style: none;  
}

/* Chrome, Safari, Edge (Chromium) */
.column::-webkit-scrollbar {
  display: none;
}


::selection {
  background-color: #000; /* z.B. #3498db */
  color: #ff0; /* Textfarbe auf Weiß für Kontrast */
}







/* Detailspalte */
.detail-column {
  grid-column: 2 / span 2;
  display: none;
  border-left: 2px solid #00f;
}

.detail-column.active {
  display: flex;    
}

.col-hide {
  display: none !important;
}

.detail-header {
  top: 0;
  display: flex;
  position: sticky;
  background-color: #00f;
  padding: 10px 20px 10px 25px;
  z-index: 5;
  align-items: center;
}

.detail-header h2 {
  color: inherit !important;
}

.close-btn {
  padding: 0 12px;
  background: #00f;
  border: none;
  cursor: w-resize;
  justify-self: flex-start;
  margin: 0 10px 0 -10px;
  color: rgb(255, 104, 104) !important;
}

.close-btn:hover {
  background: rgb(255, 255, 255);
  border-radius: 8px;
}

.image-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.image-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.image-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}









/* Index Sortierfunktion */

#col1,
.column-content {
  --column-padding: 25px;
}

#sortBar {
  position: relative;
  padding: 25px;
  padding-right: 5vw !important;
  box-sizing: border-box;
  z-index: 50;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  flex-shrink: 0;
  bottom: 0 !important;
}

.sort-btn {
  font-family: 'Hedvig Letters Sans';
  font-size: 16px;
  padding: 2px 6px;
  border: 2px solid #000;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.sort-btn:hover {
  background-color: rgb(255, 255, 255) !important;
  color: #000 !important;
}

.sort-btn.active {
  background-color: #000 !important;
  color: #fff !important;
}




/* Wiggle Animation */
@keyframes wiggle {
   0%, 100% {
    transform: rotate(0deg);
   }
   25% {
    transform: rotate(-2deg);
   }
   75% {
    transform: rotate(2deg);
   }
 }

.wiggle {
  animation: wiggle 0.4s ease;
}





a {
  color: #99f;
}  

a:hover {
  color: #66f;
}  





.index-detail h2 {
  max-width: 55ch;
  margin-bottom: 3em;
  margin-top: 3em;
}

.index-detail img {
  margin-top: 0;
  margin-bottom: 0.5em;
  width: 100%;
}

.index-detail figcaption {
  margin-top: 0;
  margin-bottom: 3em;
}

.index-detail .image-3 figcaption {
  margin-bottom: 0em;
}

.index-detail h2 + h2 {
  margin-top: -3em !important;
}
 










